<h1>Show Partner</h1>

<%= link_to "Edit", edit_admin_partner_path(@partner) %> | 
<%= link_to "Destroy", admin_partner_path(@partner), :method => :delete, :confirm => "Are you sure you want to delete #{@partner.email}?" %>

<table class="pretty-table">
  <tr><th></th><th></th></tr>
<% [:id, :name, :organization, :phone_number, :email, :api_key, :max_requests, :requests_remaining].each do |sym| %>
  <tr class="<%= cycle("odd","even") %>">
    <td><%= sym.to_s.titleize %>:</td>
    <td><%= @partner.send(sym).to_s %></td>
  </tr>
<% end %>
</table>
