<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
  <meta charset="UTF-8" />
  <title><%= App[:title] %></title>
  <%= stylesheet_link_merged :new_layout %>
  <!--[if lt IE 8]>
  <%= stylesheet_link_merged :ie7 %>
  <![endif]-->
  <meta name='robots' content='noindex,nofollow' />
</head>
<body class="single single-post">
  <div id="page">
  <% if current_user %><div class="logout"><a href="<%= logout_path %>">Logout</a></div><% end %>
  <a href="http://open.democrats.org">
    <%= image_tag 'opendems_logo.png', :id=>"site-logo", :width=>"470", :height =>"120",  :alt => "Open.Dems Logo" %>
  </a>
  <p id="tagline"><span id="tagline-prefix">//</span> Resources from the DNC's Technology, New Media and Targeting Teams</p>
  <div class="menu">
    <ul>
      <li id="opendems-link"><a href="http://open.democrats.org">Open.Dems</a></li>
    </ul>
  </div><!-- .menu -->
  
  <!--end header-->

  <div id="container">
    <div id="content" role="main">
      <div class="post-column">
        <div class="post type-post hentry category-blog">
          <div class="post-inner">              
            <div class="entry-content">
              <div id="flash">
                <%= flash_helper %>
              </div>
              <%= yield %>
            </div><!-- .entry-content -->
            <div class="entry-utility">
            </div><!-- .entry-utility -->
          </div><!-- .post-inner -->
        </div><!-- #post-## -->
      </div><!-- .post-column -->
    </div>
    </div><!-- #content -->
    <div id="footer-content">
    <p id="footer-legal">Paid for by the Democratic National Committee &mdash; 430 South Capitol Street SE, Washington, D.C., 20003. This communication is not authorized by any candidate or candidate's committee.</p>
    <a href="http://democrats.org/">
      <%= image_tag 'opendems_dems_footer.png', :id => "footer-logo", :width => "312", :height =>"105" %>      
    </a>
    </div>
    </div><!-- #page -->
    <div id="footer">
    </div>
  </body>
</html>